.icon {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.icon img {
  height: 30px;
  width: 30px;
}

a {
  color: white;
}

.container-intro .btn {
  background-color: #4E172C;
  color: #C19932;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0 0 0.5rem;
  padding: 10px;
  width: auto;
  text-decoration: none;
}
.container-intro .btn:hover {
  background-color: black;
}
.container-intro .btn img {
  height: 20px;
  width: 20px;
}

header {
  grid-column: 1/2;
  grid-row: 1/2;
}

.entete {
  display: flex;
  background-color: #4E172C;
  color: #C19932;
}
.entete .container-btn {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.entete .container-btn p {
  padding-top: 4px;
}
.entete .container-btn a {
  margin: 1rem;
  color: #C19932;
}
.entete .container-btn a:hover, .entete .container-btn a:focus, .entete .container-btn a:active {
  color: white;
}
.entete .deco {
  background-color: black;
  width: 1px;
  height: 2rem;
  margin: auto 8px auto auto;
  display: none;
}
.entete p {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.entete span {
  width: 50px;
  height: auto;
  justify-content: center;
  align-items: center;
  color: #C19932;
}
.entete span:hover, .entete span:active, .entete span:focus {
  color: white;
}
.entete .desktop-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  display: none;
}
.entete .desktop-btn img {
  width: 35px;
  height: 35px;
}
.entete .desktop-btn:first-child {
  background-color: #C19932;
  height: auto;
  margin: 10px;
  width: 120px;
  padding: 5px 10px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}
.entete .desktop-btn:first-child:hover, .entete .desktop-btn:first-child:focus, .entete .desktop-btn:first-child:active {
  background-color: black;
  color: white;
}

.icons-droite {
  display: flex;
}

nav {
  background-color: #C19932;
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: none;
}
nav ul li {
  margin: 0 10px;
}
nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: black;
}
nav ul li a:hover, nav ul li a:active, nav ul li a:focus {
  border-bottom: 2px solid black;
}
nav .container-icons-menu {
  display: flex;
  align-items: center;
}
nav .container-icons-menu .icon img {
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0 10px;
}
nav .container-icons-menu .icon-utilisateur {
  width: 50px;
  padding: 2px;
  margin-left: 10px;
}
nav .container-icons-nav {
  display: flex;
  align-items: start;
}
nav .container-icons-nav div {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
}
nav .container-icons-nav img {
  padding: 15px 5px 0 5px;
  width: 20px;
  height: 20px;
}

@media (min-width: 900px) {
  header {
    grid-column: 1/13;
  }

  .desktop-btn {
    display: flex !important;
  }

  .fermer,
.hamburger,
.add-user {
    display: none;
  }

  .recherche {
    margin-right: 25px;
    margin-top: 5px;
  }

  .deco {
    display: block !important;
  }

  .icons-droite {
    margin-left: 10%;
  }

  nav .icon-utilisateur {
    margin-left: 5px;
  }
  nav ul {
    display: flex;
  }
}
main {
  grid-column: 1/2;
  grid-row: 2/3;
  max-width: 100rem;
}

main h2 {
  font-size: 20px;
  margin-left: 5%;
}
main #hero .banniere-principale {
  height: 388px;
  position: relative;
}
main #hero .banniere-principale .maude-intro {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main #hero .banniere-principale .container-intro {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  margin: 1rem 0;
  text-align: center;
}
main #hero .banniere-principale .container-intro div:first-child {
  background-color: rgba(0, 0, 0, 0.616);
  padding: 0.5rem;
  border-radius: 10px;
}
main #hero .banniere-principale .container-intro h1 {
  font-size: 30px;
}
main #hero .banniere-principale .container-intro h1,
main #hero .banniere-principale .container-intro p {
  margin: 0;
  color: #C19932;
}
main #hero .banniere-principale .container {
  display: flex;
  min-width: 300px;
  justify-content: center;
}
main #boutons-categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
main #boutons-categories ul {
  display: flex;
  margin: 0;
  padding: 0;
}
main #boutons-categories li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
main #boutons-categories a {
  text-decoration: none;
}
main #boutons-categories h2 {
  visibility: hidden;
  font-size: 1px;
}
main #boutons-categories span {
  font-size: 13px;
}
main #boutons-categories ul {
  flex-wrap: wrap;
  justify-content: center;
}
main #boutons-categories li {
  margin: 10px;
}
main #boutons-categories a {
  color: black;
  display: flex;
  flex-direction: column;
}
main #boutons-categories a:hover, main #boutons-categories a:active, main #boutons-categories a:focus {
  text-decoration: underline;
}
main #boutons-categories div {
  display: flex;
}
main #boutons-categories div > img {
  margin: auto;
  width: 50px;
  height: 50px;
  padding-bottom: 10px;
}
main .caroussel-premier-pas,
main .caroussel-quidditch {
  overflow-x: hidden;
  position: relative;
}
main .caroussel-premier-pas ul,
main .caroussel-quidditch ul {
  padding: 0;
  display: flex;
}
main .caroussel-premier-pas ::-webkit-scrollbar,
main .caroussel-quidditch ::-webkit-scrollbar {
  height: 8px;
}
main .caroussel-premier-pas ::-webkit-scrollbar-track,
main .caroussel-quidditch ::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
main .caroussel-premier-pas ::-webkit-scrollbar-thumb,
main .caroussel-quidditch ::-webkit-scrollbar-thumb {
  background-color: #4E172C;
}
main .caroussel-premier-pas ::-webkit-scrollbar-thumb:hover,
main .caroussel-quidditch ::-webkit-scrollbar-thumb:hover {
  background-color: #C19932;
}
main .caroussel-premier-pas .btn-slider,
main .caroussel-quidditch .btn-slider {
  position: absolute;
  right: 1%;
  top: 38%;
  background-color: #4E172C;
  border: none;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  cursor: pointer;
}
main .caroussel-premier-pas .btn-slider:hover, main .caroussel-premier-pas .btn-slider:focus, main .caroussel-premier-pas .btn-slider:active,
main .caroussel-quidditch .btn-slider:hover,
main .caroussel-quidditch .btn-slider:focus,
main .caroussel-quidditch .btn-slider:active {
  background-color: black;
}
main .caroussel-premier-pas .container-caroussel,
main .caroussel-quidditch .container-caroussel {
  display: flex;
  overflow-x: scroll;
  padding: 0;
  scrollbar-width: thin;
}
main .caroussel-premier-pas .container-caroussel a,
main .caroussel-quidditch .container-caroussel a {
  text-decoration: none;
}
main .caroussel-premier-pas .container-caroussel .container-carte,
main .caroussel-quidditch .container-caroussel .container-carte {
  margin: 0 1rem 1rem 1rem;
  position: relative;
}
main .caroussel-premier-pas .container-caroussel .container-carte p,
main .caroussel-quidditch .container-caroussel .container-carte p {
  font-size: 14px;
  color: black;
}
main .caroussel-premier-pas .container-caroussel .container-carte h3,
main .caroussel-quidditch .container-caroussel .container-carte h3 {
  margin: 0;
  font-size: 15px;
  color: black;
  height: 35px;
  padding-top: 5px;
  font-size: 1em;
}
main .caroussel-premier-pas .container-caroussel .container-carte h3:hover, main .caroussel-premier-pas .container-caroussel .container-carte h3:active, main .caroussel-premier-pas .container-caroussel .container-carte h3:focus,
main .caroussel-quidditch .container-caroussel .container-carte h3:hover,
main .caroussel-quidditch .container-caroussel .container-carte h3:active,
main .caroussel-quidditch .container-caroussel .container-carte h3:focus {
  text-decoration: underline;
}
main .caroussel-premier-pas .container-caroussel .container-carte .contenu-carte,
main .caroussel-quidditch .container-caroussel .container-carte .contenu-carte {
  display: flex;
}
main .caroussel-premier-pas .container-caroussel .container-carte .contenu-carte span,
main .caroussel-quidditch .container-caroussel .container-carte .contenu-carte span {
  background-color: #4E172C;
  color: #C19932;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0 0 0.5rem;
  padding: 10px;
  width: auto;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
  padding: 0 10px;
  height: 40px;
  max-width: 90px;
  flex-basis: 250px;
  justify-content: center;
}
main .caroussel-premier-pas .container-caroussel .container-carte .contenu-carte span:hover,
main .caroussel-quidditch .container-caroussel .container-carte .contenu-carte span:hover {
  background-color: black;
}
main .caroussel-premier-pas .container-caroussel .container-carte .image-carte,
main .caroussel-quidditch .container-caroussel .container-carte .image-carte {
  width: 325px;
  height: 325px;
  margin: 10px;
  position: relative;
}
main .caroussel-premier-pas .container-caroussel .container-carte .image-carte .coeur,
main .caroussel-quidditch .container-caroussel .container-carte .image-carte .coeur {
  position: absolute;
  top: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
main .caroussel-premier-pas .container-caroussel .container-carte .image-carte .coeur .coeur-icon,
main .caroussel-quidditch .container-caroussel .container-carte .image-carte .coeur .coeur-icon {
  position: absolute;
  padding: 5px;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}
main .caroussel-premier-pas .container-caroussel .container-carte .image-carte img,
main .caroussel-quidditch .container-caroussel .container-carte .image-carte img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
main .meilleurs-moments h2,
main .caroussel-quidditch h2 {
  padding-top: 20px;
}
main .mesaventures ul,
main .moments-cours ul {
  padding: 0;
}
main .container-meilleurs-moments,
main .container-mesaventures {
  margin: 1rem;
  padding: 10px 0;
}
main .container-meilleurs-moments h3,
main .container-mesaventures h3 {
  font-size: 1em;
}
main .container-meilleurs-moments h3,
main .container-meilleurs-moments p,
main .container-mesaventures h3,
main .container-mesaventures p {
  margin: 5px;
  max-width: 425px;
  color: black;
}
main .container-meilleurs-moments a,
main .container-mesaventures a {
  color: black;
}
main .container-meilleurs-moments .image,
main .container-mesaventures .image {
  max-height: 370px;
  max-width: 525px;
  margin: auto;
}
main .container-meilleurs-moments .image img,
main .container-mesaventures .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .container-meilleurs-moments .contenu,
main .container-mesaventures .contenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
main .container-meilleurs-moments .contenu h4,
main .container-mesaventures .contenu h4 {
  color: black;
  min-height: 32px;
}
main .container-meilleurs-moments .contenu span,
main .container-mesaventures .contenu span {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
main .container-meilleurs-moments .contenu span:hover, main .container-meilleurs-moments .contenu span:active, main .container-meilleurs-moments .contenu span:focus,
main .container-mesaventures .contenu span:hover,
main .container-mesaventures .contenu span:active,
main .container-mesaventures .contenu span:focus {
  text-decoration: underline;
}
main .container-meilleurs-moments .contenu p,
main .container-mesaventures .contenu p {
  font-size: 14px;
  color: black;
  flex-grow: 1;
}
main .container-meilleurs-moments .contenu div,
main .container-mesaventures .contenu div {
  align-items: flex-end;
}
main .container-meilleurs-moments .contenu div span,
main .container-mesaventures .contenu div span {
  align-items: center;
  margin: 0 auto;
}
main .container-contenu-banniere {
  background-color: #C19932;
  height: 125px;
  margin: 0;
  padding-top: 1rem;
  text-align: center;
}
main .container-contenu-banniere a {
  background-color: #4E172C;
  color: #C19932;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0 0 0.5rem;
  padding: 10px;
  width: auto;
  text-decoration: none;
  width: 100px;
  cursor: pointer;
  margin: 1rem auto;
}
main .container-contenu-banniere a:hover {
  background-color: black;
}
main .container-image-banniere {
  width: 100%;
  height: 300px;
}
main .container-image-banniere img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 900px) {
  main {
    grid-column: 1/13;
  }

  .container-caroussel {
    margin: 0 4rem 3rem 4rem;
  }

  .caroussel-premier-pas .container-carte .contenu-carte,
.caroussel-quidditch .container-carte .contenu-carte {
    height: 100px;
    flex-direction: column;
  }
  .caroussel-premier-pas .container-carte .contenu-carte p,
.caroussel-quidditch .container-carte .contenu-carte p {
    height: 30px;
    padding: 0;
    margin: 0;
  }
  .caroussel-premier-pas .container-carte .contenu-carte span,
.caroussel-quidditch .container-carte .contenu-carte span {
    height: 50px !important;
    flex-basis: auto !important;
    max-width: 100% !important;
  }

  .moments-cours ul,
.mesaventures ul {
    display: flex;
    justify-content: center;
  }

  .mesaventures .contenu p {
    min-height: 110px;
  }

  .moments-cours .contenu p {
    min-height: 60px;
  }

  .container-banniere-quidditch {
    position: relative;
  }
  .container-banniere-quidditch .container-contenu-banniere {
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 15px;
    position: absolute;
    padding: 10px 30px;
    bottom: 10%;
    font-weight: 700;
    margin: 0 50px;
    height: 100px;
  }
  .container-banniere-quidditch .container-contenu-banniere h2 {
    color: white;
    margin-left: 0;
  }
  .container-banniere-quidditch .container-contenu-banniere a {
    justify-content: start;
    margin: 0;
  }
}
@media screen and (min-width: 1000px) {
  .mesaventures .contenu p {
    min-height: 90px;
  }
}
@media screen and (min-width: 1300px) {
  .mesaventures .contenu p {
    min-height: 70px;
  }

  .moments-cours .contenu p {
    min-height: 45px;
  }
}
@media (min-width: 1500px) {
  main {
    margin: 0 auto;
  }

  #hero .container-intro {
    position: absolute;
    bottom: 20% !important;
    left: 15% !important;
    text-align: start !important;
  }
  #hero .container-intro div:first-child {
    background-color: transparent !important;
  }
  #hero .container-intro a {
    padding: 15px 35px;
  }
  #hero .container-intro h2,
#hero .container-intro p {
    color: #C19932;
    font-size: 23px;
  }
}
footer {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: #C19932;
  padding-bottom: 0.5rem;
  margin-top: 50px;
}
footer ul {
  display: flex;
  margin: 0;
  padding: 0;
}
footer h4 {
  text-transform: uppercase;
  margin-left: 20px;
}
footer .accordeons {
  padding: 1rem 0;
  display: block;
}
footer .accordeons button {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  align-items: center;
  cursor: pointer;
  border-top: none;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
}
footer .accordeons button span {
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 20px;
}
footer .accordeons button span:hover, footer .accordeons button span:active, footer .accordeons button span:focus {
  color: white;
}
footer .accordeons button img {
  padding-right: 20px;
}
footer .accordeons button:first-child {
  border-top: 1px solid black;
}
footer .container-s-medias h5 {
  text-transform: uppercase;
  font-size: 16px;
  margin-left: 20px;
  margin-bottom: 0;
}
footer .container-s-medias .s-medias {
  margin: 1.5rem 0;
  display: flex;
}
footer a {
  text-decoration: none;
  padding: 1rem;
}
footer a:hover, footer a:focus, footer a:active {
  color: black;
}
footer .liens-footer {
  margin-bottom: 2rem;
  font-size: 14px;
}
footer .footer-div-1 {
  display: flex;
  align-items: center;
  padding: 1rem;
}
footer .footer-div-1 img {
  width: 50px;
  height: 100%;
}
footer .footer-div-1 a {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.418);
}
footer .footer-div-1 a:hover, footer .footer-div-1 a:active, footer .footer-div-1 a:focus {
  color: white;
  text-decoration: underline;
}
footer .footer-div-2 {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
}
footer .footer-div-2 a {
  padding: 0.5rem;
}
footer .footer-div-3 {
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 1rem;
}
footer .footer-div-3 button {
  background-color: #4E172C;
  color: #C19932;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0 0 0.5rem;
  padding: 10px;
  width: auto;
  text-decoration: none;
  margin: 0 auto;
  border-radius: 0;
  padding: 18px;
  margin-right: 20px;
}
footer .footer-div-3 button:hover {
  background-color: black;
}
footer .footer-div-3 label {
  flex-grow: 1;
  padding-left: 20px;
}
footer .footer-div-3 label input {
  width: 100%;
  height: 50px;
}
footer small,
footer p {
  margin: 0;
  padding: 1rem;
  text-align: justify;
  font-size: 12px;
}
footer .footer-desktop {
  display: flex;
  display: none;
}
footer .footer-desktop div {
  padding: 1rem;
}
footer .footer-desktop ul {
  padding: 0;
  display: flex;
  flex-direction: column;
}
footer .footer-desktop li {
  padding: 5px 0;
}
footer .footer-desktop a {
  font-size: 12px;
  padding: 0;
  text-transform: none;
}
footer .footer-desktop a:hover, footer .footer-desktop a:focus,
footer .footer-desktop a a:active {
  border: none;
  color: white;
  font-weight: 400;
}

@media (min-width: 900px) {
  footer {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: 300px repeat(12, auto);
    grid-template-rows: auto auto 270px repeat(4, auto);
  }
  footer .footer-div-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 10px;
  }
  footer .footer-div-1 a {
    max-width: 200px;
  }
  footer .footer-div-1 img {
    height: 50px;
    width: 50px;
  }
  footer .footer-div-2 {
    grid-row: 2/3;
    grid-column: 1/4;
    height: auto;
    margin-left: 30px;
  }
  footer .footer-desktop {
    display: flex;
    flex: 2 1 0%;
    flex-wrap: wrap;
    grid-row: 1/5;
    grid-column: 2/13;
    justify-content: center;
  }
  footer .footer-desktop div {
    width: 200px;
  }
  footer .accordeons {
    display: none;
  }
  footer .footer-div-1 {
    flex-direction: column;
    align-items: start;
  }
  footer .inscription {
    grid-row: 5/6;
    grid-column: 1/4;
    margin-left: 30px;
  }
  footer .footer-div-3 {
    grid-row: 6/7;
    grid-column: 1/4;
    width: 300px;
  }
  footer .footer-div-3 label,
footer .footer-div-3 input {
    width: 250px !important;
    margin-left: 15px;
    padding: 0;
  }
  footer .footer-div-3 button {
    cursor: pointer;
  }
  footer .container-liens-footer {
    display: flex;
    grid-row: 7/8;
    grid-column: 1/9;
    margin-left: 20px;
  }
  footer p {
    grid-row: 8/9;
    grid-column: 1/13;
    margin-left: 30px;
    max-width: 1500px;
  }
  footer .container-s-medias {
    grid-row: 6/7;
    grid-column: 7/12;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  footer .container-s-medias h5 {
    width: 230px;
    margin: 0;
  }
}
@media (min-width: 1500px) {
  .container-s-medias {
    margin-left: 500px;
  }
}
@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/quicksand-variablefont_wght-webfont.woff2") format("woff2"), url("../../fonts/quicksand-variablefont_wght-webfont.woff") format("woff");
}
body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr;
  box-sizing: border-box;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
body span {
  font-family: "Quicksand", sans-serif;
}
body li {
  list-style-type: none;
}

@media (min-width: 900px) {
  body {
    grid-template-columns: repeat(12, 1fr);
  }
}