@use "variables";
@use "boutons";
@use "mixins";

header {
  grid-column: 1/2;
  grid-row: 1/2;
}

.entete {
  display: flex;
  background-color: variables.$couleursecondaire;
  color: variables.$couleurprimaire;

  .container-btn {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    p {
      padding-top: 4px;
    }

    a {
      margin: 1rem;
      color: variables.$couleurprimaire;

      &:hover,
      &:focus,
      &:active {
        color: white;
      }
    }
  }

  .deco {
    background-color: black;
    width: 1px;
    height: 2rem;
    margin: auto 8px auto auto;
    display: none;
  }

  p {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  span {
    width: 50px;
    height: auto;
    justify-content: center;
    align-items: center;
    color: variables.$couleurprimaire;

    &:hover,
    &:active,
    &:focus {
      color: white;
    }
  }

  .desktop-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    display: none;

    img {
      width: 35px;
      height: 35px;
    }
  }

  .desktop-btn:first-child {
    background-color: variables.$couleurprimaire;
    height: auto;
    margin: 10px;
    width: 120px;
    padding: 5px 10px;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;

    &:hover,
    &:focus,
    &:active {
      background-color: black;
      color: white;
    }
  }
}

.icons-droite {
  display: flex;
}

nav {
  background-color: variables.$couleurprimaire;
  display: flex;
  justify-content: space-between;

  ul {
    display: none;

    li {
      margin: 0 10px;
      a {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 600;
        color: black;

        &:hover,
        &:active,
        &:focus {
          border-bottom: 2px solid black;
        }
      }
    }
  }

  .container-icons-menu {
    display: flex;
    align-items: center;

    .icon {
      img {
        align-items: center;
        width: 40px;
        height: 40px;
        margin: 0 10px;
      }
    }

    .icon-utilisateur {
      width: 50px;
      padding: 2px;
      margin-left: 10px;
    }
  }

  .container-icons-nav {
    display: flex;
    align-items: start;

    div {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 12px;
    }

    img {
      padding: 15px 5px 0 5px;
      width: 20px;
      height: 20px;
    }
  }
}

@include mixins.breakpoint(tablet-plus) {
  header {
    grid-column: 1/13;
  }

  .desktop-btn {
    display: flex !important;
  }

  .fermer,
  .hamburger,
  .add-user {
    display: none;
  }

  .recherche {
    margin-right: 25px;
    margin-top: 5px;
  }

  .deco {
    display: block !important;
  }

  .icons-droite {
    margin-left: 10%;
  }

  nav {
    .icon-utilisateur {
      margin-left: 5px;
    }

    ul {
      display: flex;
    }
  }
}
